<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>
    <link rel="stylesheet" href="/stylesheets/quoteStyle.css" />
  </head>
  <body>
    <!-- Main Container -->

    <div class="container">
      <div class="carousel">
        <div class="image"><span>CONNECT</span></div>
        <div class="image"><span>WITH</span></div>
        <div class="image"><span>NATURE</span></div>
        <div class="image"><span>IT'S</span></div>
        <div class="image"><span>HEALING</span></div>
        <div class="image"><span>POWER</span></div>
        <div class="image"><span>CAN</span></div>
        <div class="image"><span>RESTORE</span></div>
        <div class="image"><span>TRANQUILITY</span></div>
      </div>
    </div>
  </body>
</html>
